<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="contact-us.css" /> -->
    
    <title>Contact-us</title>
  </head>
  <body>
    <form action="contact-us" method="Post">
      <input type="text" placeholder="Enter Your Name" name="Name" />
      <input type="email" placeholder="Enter Your email" name="email" />
      <button class="text-red-500" type="submit">submit</button>
    </form>
  </body>
</html>
